# Telegram Bot Token from @BotFather
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Port 
PORT=3000


# fetch: every 30 minutes
FETCH_CRON=*/30 * * * *

#check standings aftercontest : every 5 min
STANDINGS_CRON=*/5 * * * *
